[core]
	excludesfile = /Users/petedoyle/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Pete Doyle
	email = petedoyle@gmail.com
[init]
	defaultBranch = main
[commit]
	template = /Users/petedoyle/.stCommitMsg
